body {
  margin-left: 0;
  margin-top: 0;
  text-align: center;
  color: #E8E8A6;
}

h1 {
  font-family: 'Gideon Roman', cursive;
  font-size: 3.2rem;
  /**100%=16px    1rem=16px*/
  margin-top: 50px;
  color: #66BFBF;
  line-height: 2;
}

p {
  margin-bottom: 5px;
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}

div {
  background-color: #2C3333;
  padding-top: 30px;
}

/*Classes*/
.aleatorio {
  text-decoration: underline;
}

.blkpwr {
  width: 37%;
}
.gifskills {
  width: 25%;
  position: relative;
  bottom: 30px;
  float: left;
  margin-right: 30px;
}

.imgbasquete {
  width: 20%;
  position: relative;
  bottom: 30px;
  float: right;
  margin-left: 30px;
}

.skills {
  margin-top: 0;

}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;

}

.subtitulo {
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: #66BFBF;
  font-weight: normal;
}

.tudo {
  text-decoration: line-through;
}
